{% extends 'store/main.html' %}

{% load static %}

{% block content %}

    
        <div class="float-lg-right">

            <form class="form-inline my-2 my-lg-0" method="GET" action="">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{request.GET.q}}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>

        </div>

        <br>
        <br>
        
<div class="row">

    {% for product in products %}


    <div class="col-lg-4">
        <img class="thumbnail" src="{{ product.imageURL }}" alt="no image">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
    
            <button data-product="{{product.id}}" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            <a class="btn btn-outline-success" href="{% url 'view_product' product.id %}">View</a>
            <h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>
    
        </div>
    </div>

    {% endfor %}

    

</div>

{% endblock  %}


    